/* BEEN 2 month ago*/
.preloader_scene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    display: flex;
    overflow: hidden;
    animation: Block .7s linear forwards;
    animation-delay: 4.2s;

}

.preloader_block {
    width: 100%;
    background-color: rgb(192, 132, 105);
    animation: Block .7s linear forwards;
    animation-delay: 4.2s;
}


.loading_block {
    position: absolute;
    top: 45%;
    left: 45%;
    transition: translate(-50%, -50%);
    z-index: 1001;
    animation: Block .1s ease-in forwards;
    animation-delay: 4s;
}

@keyframes Block {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: 0;
        
    }  
}


/* CONTENT TITLE */
.title_preview {
    margin-left: -20px;
    text-align: center;
    font-family: monospace;
    color: white;
}

.text_preview {
    font-size: 40px;
    text-align: center;
    font-family: monospace;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.text_preview span {
    font-size: 20px;
}
.text_preview {
    width: 14ch;
    animation: type_text 2s steps(14);
}

@keyframes type_text {
    from {
        width: 0;
    }
}

.title h1{
    text-align: center;
    font-family: monospace;
    font-size: 35px;
    margin-bottom: 55px;
    color: rgb(255, 255, 255);
}

.title span {
    color: rgb(255, 196, 196);  
}