.hello {
    font-size: 200px;
    font-family: monospace;

    color: black;

    margin: 200px 0px 0px 470px;


    opacity: 100%;

    animation: visible 3s ease;

    
}


@keyframes visible {
    from {
        opacity: 0%;
    }
}




.about {

    position: absolute;
    
    width: 100%;
    height: 900px;

    background: linear-gradient(to right, aliceblue, white);
    z-index: 2;
}

.gif {
    position: fixed;

    margin: 0;
    
    width: 100%;
    height: 1000px;

    background: url(img/bg.jpg);
    background-size: 100%;

    z-index: 0;

    display: inline-block;
}

.gif p {

    margin-top: 20px;
    margin-right: 20px;

    font-size: 30px;
    font-family: monospace;
    color: aliceblue;

    float: left;
}

.social_utub {
    padding: 10px;
    background-color: transparent;

    position: fixed;

    bottom: 0;
    right: 0;

    transition-property: all;
    transition: .9s;
}

.social_utub:hover {
    -webkit-transform: scale(1.1);
}


.block {
    position: absolute;

    top: 550px;
    right: 50px;
    
    font-size: 4vh;
    font-family: monospace;

    color: black;

}



.block p {
    width: 47ch;

    white-space: nowrap;
    overflow: hidden;

    border-right: 4px solid black;

    
    animation: cursor 0.75s step-end infinite, print 5s steps(47);
    
    
    
}



@keyframes cursor {
    0% {
        visibility: visible;
        border-color: black;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: black;
    }
}

@keyframes print {
    from {
        width: 8px;
    }
}

@keyframes hideBorder {
    100% {
        border: 0;
    }
}




/* SOCIALS */
.foot {
    z-index: 10;
    position: fixed;
    background-color: rgba(88, 88, 88, 0.404);

    width: 450px;
    height: 80px;

    top: 85%;
    left: -370px;

    border-radius: 30px;

    transition-property: all;
    transition: .9s;

    animation: socials 6s ease;
}

.foot:hover {
    left: -90px;
}

@keyframes socials {
    0% {
        left: -370px;
    }

    25% {
        left: -90px;
    }

    90% {
        left: -90px;
    }


    100% {
        left: -370px;
    }

}



.wrap_icons {
    position: absolute;
    left: 7%;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icon {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    margin: 15px;

    background-color: white;
    border-radius: 50%;
    border: 0;

    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.social_icon i {
    font-size: 25px;
    color: rgb(197, 75, 75);
    transition: all 0.3s ease;
    z-index: 1;
}

.social_icon:after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(0, 50px);
    border-radius: 40%;
    transition: all 0.3s ease;
}

.social_icon.vk:after {
    background-color: rgb(72, 143, 236);
}
.social_icon.discord:after {
    background-color: rgb(117, 86, 134);
}
.social_icon.youtube:after {
    background-color: rgb(211, 71, 71);
}

.social_icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 5px 10px rgba(85, 30, 30, 0.521);

}

.social_icon:hover i {
    color: white;
}

.social_icon:hover:after {
    transform: translate(0);
}




.container {
    width: 100%;
    height: 100%;
}

.gif {
    height: 100%;
}





